{{!-- <div class = "handlebar-nav"> --}}
	<h1>Volunteer Opportunities</h1>
</div>


{{#each opportunity }}
	<div class="col-md-3">
		<div class="thumbnail">
			<img alt="Bootstrap Thumbnail First" src="{{img_url}}" />
			<div class="caption">
				<p id="handlebar-title">{{organization_name}}</p>	
				<p id="handlebar-title2">{{title}}</p>
				<p>Description: {{opp_description}}</p>
				<p>Location: {{address}}, {{city}}, {{state}}</p>
				<p>Skills needed: {{skills_needed}}</p>
				<p>Volunteers Needed: {{num_of_volunteers}}</p>
				<p>Contact: {{contact}}</p>
				<p>Email: {{email}}</p>
				<p>Phone: {{phone}}</p>		
			</div>
		</div>
	</div>
{{/each}}

<script type="text/javascript">
$(".headerLabel").append("Volunteer Opportunities");
</script>
