<div class = "handlebar-nav">
	<ul>
		<li> <a href= "./user">Volunteer Profile</a> </li>
		{{!-- <li> | </li>
		<li> <a href= "./female-friends">Female Friends </li>
		<li> | </li>
		<li> <a href= "./male-friends">Male Friends </li> --}}
	</ul>
</div>


{{!-- {{#each user }} --}}
	<div class="col-md-3">
		<div class="thumbnail">
			<img alt="Bootstrap Thumbnail First" src="{{user.pic_url}}" />
			<div class="caption">	
				<p id="handlebar-title">{{user.first_name}},{{user.last_name}}</p>
				<p>{{user.address}} </p>
				<p>{{user.city}},{{ user.state}},{{user.zip_code}} </p>
				<p>{{user.phone}} </p>		
				<p>{{user.email}} </p>
			</div>
		</div>
	</div>
{{!-- {{/each}} --}}