
<div class="container">
	<div class="col-md-3">

	</div>
	<div class="col-md-6">
		<div class="thumbnailUser">
			<img alt="Bootstrap Thumbnail First" src="{{user.pic_url}}" />
			<div class="caption">	
				<p id="handlebar-title">{{user.first_name}} {{user.last_name}}</p>
				<p class="handlebarsP"><strong>Phone: </strong> {{user.phone}} </p>		
				<p class="handlebarsP"><strong>Email: </strong> {{user.email}} </p>
				<p class="handlebarsP"><strong>Skills: </strong></p>
				<p class="handlebarsP"><strong>Additional Information: </strong></p>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
$(".headerLabel").append("Volunteer Profile");
</script>