

{{#each usersData }}
	<div class="col-md-3 col-sm-6">
		<a href="/user/{{id}}">
			<div class="thumbnail">
				<img alt="Bootstrap Thumbnail First" id="{{id}}" src="{{pic_url}}" />
				<div class="caption">	
					<p id="handlebar-title">{{first_name}} {{last_name}} </p>		
				</div>
			</div>
		</a>
	</div>
{{/each}}

<script type="text/javascript">

         $.ajax("/api/user", {
      type: "GET",
      
    }).then(
      function(data) {
        console.log(data);
       $(".headerLabel").append("Volunteers");
        // Reload the page to get the updated list

      });



$(".thumbnail").on("click", function(){;
$.ajax("/api/user/id", {
      type: "GET",
      
    }).then(
      function(data) {
      	console.log(data);
        // Reload the page to get the updated list
})
      });
        

</script>